    body {
        color: rgb(56, 56, 56);
    }
    
    div.gradient {
        background: rgb(0, 30, 97);
        background: linear-gradient(156deg, rgba(0, 30, 97, 1) 18%, rgba(0, 132, 255, 1) 100%);
        margin: auto;
        width: 80%;
        height: 3570px;
        background-size: cover;
    }
    
    img.Oasis {
        width: 100%;
        height: 100%;
        opacity: 5%;
        left: 1px;
        position: absolute;
        object-fit: cover;
    }
    
    img.EScastle {
        float: right;
        width: 75%;
        z-index: 1;
    }
    
    img.planefon {
        position: relative;
        float: right;
        top: 30px;
        left: 1132px;
        z-index: 2;
    }
    
    img.logo {
        padding-top: 52px;
        left: 10%;
        position: absolute;
    }
    
    .number2 {
        top: 44px;
        left: 985px;
        font-size: 19px;
        position: absolute;
        text-decoration: none;
        text-transform: capitalize;
        white-space: nowrap;
    }
    
    div.menu {
        position: relative;
        height: 50%;
        background-repeat: no-repeat;
        background-position: right;
        z-index: 10;
    }
    
    div.text {
        position: absolute;
        padding-top: 69px;
        padding-left: 355px;
        font-family: "Bahnschrift";
        font-size: 14px;
        color: aqua;
        word-spacing: -1px;
    }
    
    a.linkA {
        padding-top: 60px;
        left: 466px;
        position: absolute;
        color: aqua;
        text-decoration: none;
        letter-spacing: 3px;
        font-family: "Bahnschrift";
    }
    
    a.linkG {
        left: 637px;
        padding-top: 60px;
        position: absolute;
        color: aqua;
        text-decoration: none;
        letter-spacing: 3px;
        font-family: "Bahnschrift";
    }
    
    div.call {
        position: absolute;
        padding-top: 50px;
        padding-left: 1021px;
        color: aqua;
        font-family: "Impact";
        letter-spacing: 3px;
    }
    
    img.ballsimgB {
        position: absolute;
        left: 154px;
        top: 150px;
        width: 721px;
        height: 324px;
        z-index: 3;
        border-radius: 25px;
        filter: saturate(1);
    }
    
    div.button {
        position: absolute;
        left: 88%;
        padding-top: 150px;
        top: 30%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
    
    .butt {
        border: 3px solid rgb(247, 0, 255);
        font-size: 37px;
        color: rgb(247, 0, 255);
        text-decoration: none;
        text-transform: capitalize;
        width: 250px;
        height: 60px;
        display: block;
        text-align: center;
        line-height: 60px;
        font-family: "Impact";
        position: relative;
        border-radius: 5px;
        transform: .5s;
        overflow: hidden;
    }
    
    .butt::before,
    .butt::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        background: rgb(247, 0, 255);
        top: 0;
        left: -100%;
        opacity: .6;
        transition: .3s;
        z-index: -1;
    }
    
    .butt::after {
        opacity: 1;
        transition-delay: .2s;
    }
    
    .butt:hover {
        color: #fff;
    }
    
    .butt:hover::before,
    .butt:hover::after {
        left: 0;
    }
    
    .text {
        left: 25.5%;
        top: 25.5%;
        font-size: 50px;
        font-family: "Horta";
        letter-spacing: 2px;
        color: aqua;
        text-shadow: 0px 1px 153.45px rgba(0, 0, 0, 0.58);
        position: absolute;
        -moz-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        -webkit-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        -ms-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
    }
    
    .text2 {
        left: 24.8%;
        top: 36%;
        font-size: 37px;
        font-family: "SonyEricssonLogo";
        font-weight: lighter;
        letter-spacing: 2.5px;
        color: aqua;
        text-shadow: 0px 1px 153.45px rgba(0, 0, 0, 0.58);
        position: absolute;
        -moz-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        -webkit-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        -ms-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
    }
    
    .buyticket {
        color: black;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 54px;
        display: block;
        line-height: 85px;
        font-family: "Impact";
        text-align: center;
        opacity: 0.56;
        position: absolute;
        left: 72px;
        top: 18px;
        width: 339.405px;
        height: 47px;
        -moz-transform: matrix( 0.78615695778546, 0, 0, 0.78615695778546, 0, 0);
        -webkit-transform: matrix( 0.78615695778546, 0, 0, 0.78615695778546, 0, 0);
        -ms-transform: matrix( 0.78615695778546, 0, 0, 0.78615695778546, 0, 0);
    }
    
    div.buybutton {
        width: 375px;
        height: 89px;
        display: block;
        background-image: -moz-linear-gradient( 42deg, rgb(255, 186, 0) 0%, rgb(255, 126, 0) 100%);
        background-image: -webkit-linear-gradient( 42deg, rgb(255, 186, 0) 0%, rgb(255, 126, 0) 100%);
        background-image: -ms-linear-gradient( 42deg, rgb(255, 186, 0) 0%, rgb(255, 126, 0) 100%);
        box-shadow: 0px 6px 151.34px 9.66px rgba(255, 143, 0, 0.58);
        border-radius: 10px;
        position: absolute;
        margin-top: 45px;
        left: 20%;
        top: 50%;
    }
    
    .buyticket:link,
    .buyticket:visited {
        text-transform: capitalize;
        text-decoration: none;
        /* display: inline-block; */
        border-radius: 10px;
        transition: all .2s;
        position: absolute;
        width: 375px;
        height: 93px;
        top: 0%;
        left: 0%;
        opacity: 0.76;
    }
    
    .buyticket:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .buyticket:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .buyticket-white {
        background-color: #fff;
        color: #777;
    }
    
    .buyticket::after {
        content: "";
        display: inline-block;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    .buyticket-white::after {
        background-color: #fff;
    }
    
    .buyticket:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    .buyticket-animated {
        animation: moveInBottom 5s ease-out;
        animation-fill-mode: backwards;
    }
    
    div.Barcelona {
        background-color: rgb(25, 53, 94);
        box-shadow: 0px 2px 37.05px 19.95px rgba(28, 33, 67, 0.4);
        position: absolute;
        border-radius: 5px;
        width: 296px;
        height: 260px;
        left: 256px;
        top: 850px;
    }
    
    #circleB {
        width: 35px;
        height: 35px;
        background: rgb(152, 112, 173);
        border-radius: 50%;
        position: absolute;
        top: 61%;
        left: 80%;
    }
    
    img.photoB {
        border-radius: 5px;
        object-fit: cover;
        width: 296px;
        height: 179px;
    }
    
    div.titleB {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(0, 150, 155);
        line-height: 1;
        text-align: center;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 110px;
        letter-spacing: 2px;
    }
    
    div.cenaB {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(0, 246, 255);
        line-height: 1;
        text-align: center;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        top: 85%;
        left: 15%;
    }
    
    div.dayB {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(0, 246, 255);
        line-height: 1;
        text-align: center;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        top: 85%;
        left: 65%;
    }
    
    div.tagB {
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        color: rgb(0, 246, 255);
        line-height: 1;
        position: absolute;
        top: 85%;
        left: 6%;
    }
    
    div.Madrid {
        border-radius: 5px;
        background-color: rgb(25, 53, 94);
        box-shadow: 0px 2px 37.05px 19.95px rgba(28, 33, 67, 0.4);
        position: absolute;
        width: 296px;
        height: 260px;
        left: 600px;
        top: 875px;
    }
    
    #circleM {
        width: 35px;
        height: 35px;
        background: rgb(210, 74, 67);
        border-radius: 50%;
        position: absolute;
        top: 61%;
        left: 80%;
    }
    
    img.photoM {
        border-radius: 5px;
        object-fit: cover;
        width: 296px;
        height: 179px;
    }
    
    div.titleM {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(0, 150, 155);
        line-height: 1;
        text-align: center;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 110px;
        letter-spacing: 2px;
    }
    
    div.cenaM {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(0, 246, 255);
        line-height: 1;
        text-align: center;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        top: 85%;
        left: 15%;
    }
    
    div.dayM {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(0, 246, 255);
        line-height: 1;
        text-align: center;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        top: 85%;
        left: 65%;
    }
    
    div.tagM {
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        color: rgb(0, 246, 255);
        line-height: 1;
        position: absolute;
        top: 85%;
        left: 6%;
    }
    
    div.Alicante {
        border-radius: 5px;
        background-color: rgb(25, 53, 94);
        box-shadow: 0px 2px 37.05px 19.95px rgba(28, 33, 67, 0.4);
        position: absolute;
        width: 296px;
        height: 260px;
        left: 945px;
        top: 905px;
        letter-spacing: 2px;
    }
    
    #circleA {
        width: 35px;
        height: 35px;
        background: rgb(126, 46, 57);
        border-radius: 50%;
        position: absolute;
        top: 61%;
        left: 80%;
    }
    
    img.photoA {
        border-radius: 5px;
        object-fit: cover;
        width: 296px;
        height: 179px;
    }
    
    div.titleA {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(0, 150, 155);
        line-height: 1;
        text-align: center;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 110px;
    }
    
    div.cenaA {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(0, 246, 255);
        line-height: 1;
        text-align: center;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        top: 85%;
        left: 15%;
    }
    
    div.dayA {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(0, 246, 255);
        line-height: 1;
        text-align: center;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        top: 85%;
        left: 65%;
    }
    
    div.tagA {
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        color: rgb(0, 246, 255);
        line-height: 1;
        position: absolute;
        top: 85%;
        left: 6%;
    }
    
    .Iplane {
        position: absolute;
        top: 31%;
        left: 18%;
        height: 17px;
    }
    
    div.HitSailsTitle {
        position: absolute;
        left: 1335px;
        top: 990px;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        font-size: 18px;
        font-family: "Impact";
        color: rgb(255, 0, 246);
        line-height: 1.611;
        text-align: left;
        letter-spacing: 2px;
    }
    
    div.HitSails {
        font-size: 25px;
        font-family: "Impact";
        color: rgb(255, 255, 255);
        line-height: 1.16;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 1334px;
        top: 1045px;
        text-decoration: none;
        width: 300px;
        letter-spacing: 2px;
    }
    
    div.arrows {
        font-size: 25px;
        font-family: "Impact";
        color: rgb(255, 255, 255);
        line-height: 1.16;
        text-align: left;
        letter-spacing: 55px;
        position: absolute;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        left: 1329px;
        top: 1110px;
    }
    
    .buttonC {
        left: 1344px;
        top: 1115px;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        text-decoration: none;
        text-transform: none;
    }
    
    img.EspanaHolms {
        position: absolute;
        top: 1150px;
        height: 85%;
    }
    
    div.texttitleO {
        font-size: 16px;
        font-family: "Impact";
        color: rgb(255, 255, 255);
        line-height: 2;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 975px;
        top: 1340px;
        width: 246px;
        height: 70px;
        z-index: 80;
        letter-spacing: 2px
    }
    
    div.textposrednikO {
        font-size: 12px;
        font-family: "Impact";
        color: rgb(0, 210, 255);
        line-height: 2.231;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 956px;
        top: 1370px;
        width: 246px;
        height: 70px;
        z-index: 80;
        letter-spacing: 2px
    }
    
    div.arrowO {
        font-size: 21px;
        font-family: "Segoe UI Symbol";
        color: rgb(114, 0, 255);
        line-height: 1.381;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 946px;
        top: 1340px;
        z-index: 86;
    }
    
    div.texttitleP {
        font-size: 16px;
        font-family: "Impact";
        color: rgb(255, 255, 255);
        line-height: 2.231;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 1299px;
        ;
        top: 1355px;
        width: 287.328px;
        height: 70px;
        z-index: 82;
        letter-spacing: 2px
    }
    
    div.textP {
        font-size: 13px;
        font-family: "Impact";
        color: rgb(0, 210, 255);
        line-height: 2.231;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 1281px;
        top: 1385px;
        width: 330px;
        height: 70px;
        z-index: 82;
        letter-spacing: 2px
    }
    
    div.arrowP {
        font-size: 21px;
        font-family: "Segoe UI Symbol";
        color: rgb(169, 56, 0);
        line-height: 1.381;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 1266.773px;
        top: 1355.5px;
        z-index: 87;
    }
    
    div.texttitleI {
        font-size: 16px;
        font-family: "Impact";
        color: rgb(255, 255, 255);
        line-height: 2.231;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 978px;
        top: 1501px;
        width: 287px;
        height: 70px;
        z-index: 82;
        letter-spacing: 2px
    }
    
    div.textI {
        font-size: 13px;
        font-family: "Impact";
        color: rgb(0, 210, 255);
        line-height: 2.231;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 958px;
        top: 1528px;
        width: 253px;
        height: 70px;
        z-index: 82;
        letter-spacing: 2px
    }
    
    div.arrowI {
        font-size: 21px;
        font-family: "Segoe UI Symbol";
        color: rgb(255, 30, 0);
        ;
        line-height: 1.381;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 1266.773px;
        top: 1516.5px;
        z-index: 87;
    }
    
    div.texttitleL {
        font-size: 16px;
        font-family: "Impact";
        color: rgb(255, 255, 255);
        line-height: 2.231;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 1299px;
        top: 1516px;
        width: 287px;
        height: 70px;
        z-index: 82;
        letter-spacing: 2px
    }
    
    div.textL {
        font-size: 13px;
        font-family: "Impact";
        color: rgb(0, 210, 255);
        line-height: 2.231;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 1279px;
        top: 1541px;
        width: 250px;
        height: 70px;
        z-index: 82;
        letter-spacing: 2px
    }
    
    div.arrowL {
        font-size: 21px;
        font-family: "Segoe UI Symbol";
        color: rgb(0, 255, 162);
        line-height: 1.381;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 946px;
        top: 1503px;
        z-index: 87;
    }
    
    div.Posredniki {
        left: -1%;
        top: -1%;
        position: absolute;
    }
    
    div.prozrachnostj {
        left: 4%;
        top: 1%;
        position: absolute;
    }
    
    div.informacija {
        left: -1%;
        top: 1%;
        position: absolute;
    }
    
    div.lichnoe {
        left: 4%;
        top: 3%;
        position: absolute;
    }
    
    div.titletextG {
        font-size: 18px;
        font-family: "Impact";
        color: rgb(216, 0, 255);
        line-height: 1.611;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        left: 396px;
        top: 1935px;
        letter-spacing: 2px;
        z-index: 108;
    }
    
    div.textG {
        font-size: 25px;
        font-family: "Impact";
        color: rgb(255, 255, 255);
        line-height: 1.16;
        text-align: left;
        -moz-transform: scale(1.07, 1.02);
        -webkit-transform: scale(1.07, 1.02);
        -ms-transform: scale(1.07, 1.02);
        position: absolute;
        width: 305px;
        left: 398px;
        top: 1987px;
        letter-spacing: 2px;
        z-index: 108;
    }
    
    img.wolves {
        position: absolute;
        left: 468px;
        top: 1754px;
        width: 1236px;
        height: 466px;
        z-index: 99;
    }
    
    div.imagesG {
        display: block;
        background-image: url(./img/countryimage51.png);
        background-repeat: no-repeat;
        background-size: 1460px;
        position: absolute;
        top: 2040px;
        left: 230px;
        width: 100%;
        height: 120%;
    }
    
    img.galary-1 {
        position: absolute;
        left: 78px;
        top: 80px;
        width: 390px;
        z-index: 101;
        transition: 0.5s;
        border-radius: 5px;
    }
    
    img.galary-1:hover {
        transform: scale(1.05);
        z-index: 102;
        border-radius: 20px;
        cursor: pointer;
    }
    
    img.galary-2 {
        position: absolute;
        left: 472px;
        top: 80px;
        width: 290px;
        z-index: 101;
        transition: 0.5s;
        border-radius: 5px;
    }
    
    img.galary-2:hover {
        transform: scale(1.05);
        z-index: 102;
        border-radius: 20px;
        cursor: pointer;
    }
    
    img.galary-3 {
        position: absolute;
        left: 766px;
        top: 80px;
        width: 328px;
        z-index: 101;
        transition: 0.5s;
        border-radius: 5px;
    }
    
    img.galary-3:hover {
        transform: scale(1.05);
        z-index: 102;
        border-radius: 20px;
        cursor: pointer;
    }
    
    img.galary-4 {
        position: absolute;
        left: 1098px;
        top: 80px;
        width: 283px;
        z-index: 101;
        transition: 0.5s;
        border-radius: 5px;
    }
    
    img.galary-4:hover {
        transform: scale(1.05);
        z-index: 102;
        border-radius: 20px;
        cursor: pointer;
    }
    
    img.galary-5 {
        position: absolute;
        left: 78px;
        top: 344px;
        width: 390px;
        z-index: 101;
        transition: 0.5s;
        border-radius: 5px;
    }
    
    img.galary-5:hover {
        transform: scale(1.05);
        z-index: 102;
        border-radius: 20px;
        cursor: pointer;
    }
    
    img.galary-6 {
        position: absolute;
        left: 472.35px;
        top: 279px;
        width: 909px;
        z-index: 101;
        transition: 0.5s;
        border-radius: 5px;
    }
    
    img.galary-6:hover {
        transform: scale(1.05);
        z-index: 102;
        border-radius: 20px;
        cursor: pointer;
    }
    
    img.ballsimgF {
        position: absolute;
        left: 336px;
        top: 2714px;
        width: 830px;
        height: 350px;
        z-index: 3;
        border-radius: 25px;
        filter: saturate(1);
    }
    
    .Quastion {
        color: black;
        text-decoration: none;
        text-transform: capitalize;
        font-size: 54px;
        display: block;
        line-height: 85px;
        font-family: "Impact";
        text-align: center;
        opacity: 0.56;
        position: absolute;
        left: 72px;
        top: 18px;
        width: 339.405px;
        height: 47px;
        -moz-transform: matrix( 0.78615695778546, 0, 0, 0.78615695778546, 0, 0);
        -webkit-transform: matrix( 0.78615695778546, 0, 0, 0.78615695778546, 0, 0);
        -ms-transform: matrix( 0.78615695778546, 0, 0, 0.78615695778546, 0, 0);
    }
    
    div.textF {
        font-size: 48px;
        font-family: "Horta";
        color: rgb(255, 255, 255);
        line-height: 1.406;
        text-align: left;
        text-shadow: 0px 1px 153.45px rgba(0, 0, 0, 0.58);
        -moz-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        -webkit-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        -ms-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        position: absolute;
        left: 428px;
        top: 2739px;
        z-index: 116;
        letter-spacing: 2px;
    }
    
    div.textF2 {
        font-size: 37px;
        font-family: "SonyEricssonLogo";
        color: rgb(255, 255, 255);
        line-height: 1.406;
        text-align: left;
        text-shadow: 0px 1px 153.45px rgba(0, 0, 0, 0.58);
        -moz-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        -webkit-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        -ms-transform: matrix( 1.47945646303654, 0, 0, 1.3375991629162, 0, 0);
        position: absolute;
        left: 493px;
        top: 2833px;
        z-index: 116;
        letter-spacing: 3px;
    }
    
    div.buttonF {
        border-radius: 10px;
        background-image: -moz-linear-gradient( 42deg, rgb(0, 208, 66) 0%, rgb(0, 130, 71) 82%);
        background-image: -webkit-linear-gradient( 42deg, rgb(0, 208, 66) 0%, rgb(0, 130, 71) 82%);
        background-image: -ms-linear-gradient( 42deg, rgb(0, 208, 66) 0%, rgb(0, 130, 71) 82%);
        box-shadow: 0px 6px 151.34px 9.66px rgba(12, 255, 0, 0.47);
        position: absolute;
        left: 372px;
        top: 2953px;
        width: 381px;
        height: 84px;
        z-index: 118;
        opacity: .0.1;
        filter: saturate(1.5);
    }
    
    #textQ {
        opacity: .65;
    }
    
    .Quastion:link,
    .Quastion:visited {
        text-transform: capitalize;
        text-decoration: none;
        /* display: inline-block; */
        border-radius: 10px;
        transition: all .2s;
        position: absolute;
        width: 380px;
        height: 85px;
        top: 5%;
        left: 0%;
        text-align: center;
        line-height: 70px;
        opacity: 0.76;
    }
    
    .Quastion:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .Quastion:active {
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .Quastion-white {
        background-color: #fff;
        color: #777;
    }
    
    .Quastion::after {
        content: "";
        display: inline-block;
        border-radius: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    .Quastion-white::after {
        background-color: #fff;
    }
    
    .Quastion:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    
    .Quastion-animated {
        animation: moveInBottom 5s ease-out;
        animation-fill-mode: backwards;
    }
    
    img.footerF {
        position: absolute;
        left: 197px;
        top: 2978px;
        width: 1509px;
        z-index: 114;
        filter: saturate(1.2);
        filter: contrast(1.2);
    }
    
    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(30px);
        }
        100% {
            opacity: 1;
            transform: translateY(0px);
        }
    }
    
    @media only screen and (max-width: 1300px) {
        img.logo {
            padding-top: 54px;
            padding-left: 23px;
            position: absolute;
        }
        div.text {
            position: absolute;
            padding-top: 59px;
            padding-left: 242px;
            font-family: "Bahnschrift";
            font-size: 14px;
            color: aqua;
        }
        a.link {
            margin: 29px;
            /* Правильно ли использовать margin между двумя ссылками? (Ответ = "") */
        }
        .butt {
            border: 3px solid rgb(247, 0, 255);
            font-size: 20px;
            color: rgb(247, 0, 255);
            text-decoration: none;
            text-transform: capitalize;
            width: 105px;
            height: 40px;
        }
    }